.App {
  text-align: center;
  padding: 3%;
  background: #63484C;
  margin: 15%;
  border-radius: 30px;
  box-shadow: 10px 10px 20px white;
  display: block;
}
body{
  font-family:'Lobster';
}
h3{
  font-size: 200%;
  text-align: center;
  font-style: 900;
}
p{
  margin-top: 8%;
  font-family:monospace;
  font-size:150%;
}
button{
  background: black;
  padding: 1% 2%;
  border-radius: 0 10px 10px 0;
}
button i{
  color: green;
  font-size: 200%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
